@model ExternalLoginConfirmationViewModel
@{
	ViewData["Title"] = "Register";
}

<h1 class="text-info">@ViewData["Title"].</h1>
<h3 class="text-info">Associate your @ViewData["ProviderDisplayName"] account.</h3>
<div class="row">
	<div class="col-md-12">
		<section>
			<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
				<h4>Association Form.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<p>
					You've successfully authenticated with <strong> @ViewData["ProviderDisplayName"]</strong>.
					Please enter a user name for this site below and click the Register button to finish logging in.
				</p>
				<div class="form-floating mb-2">
					<input asp-for="Email" class="form-control" placeholder=" " />
					<label asp-for="Email">Email</label>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-floating mb-2">
					<input asp-for="Name" class="form-control" placeholder=" " />
					<label asp-for="Name">Name</label>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="col-md-2">
						<button type="submit" class="w-100 btn btn-lg btn-success form-control">Register</button>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
